{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}
    <img src="{{ asset('images/Weirdo.png') }}" alt="kuso_kat">
<div>
    <h1>Hello sur {{ controller_name }} </h1>
</div>
{% endblock %}
